html, body, main{ 
    width: 100%; 
 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    gap: 30px; 

    margin-top: 20px;
} 

.contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
    flex-direction: column;
}

.contacts h2{
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 50px;
    padding-bottom: 40px;
}

.ulAboutUs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:18px;
    flex-direction: column;
    padding: 0;
}

.ulAboutUs .liAboutUs{
    list-style-type:none;
}

.ulAboutUs .liAboutUs a{
    font-size: 20px;
    color: black;

    display: block;
    text-decoration: none;
    outline: none;  
    transition: .3s ease-in-out;
}

.phonesNumbers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.ulAboutUs .liAboutUs a:hover{
    color: #D5B45B;
}