.gg-heart,
.gg-heart::after {
    border: 2px solid;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 10px;
    height: 8px;
    border-bottom: 0
}
.gg-heart {
    box-sizing: border-box;
    position: relative;
    transform:
        translate(
            calc(-10px / 2 * var(--ggs,1)),
            calc(-6px / 2 * var(--ggs,1))
        )
        rotate(-45deg)
        scale(var(--ggs,1));
    display: block
}
.gg-heart::after,
.gg-heart::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-heart::after {
    right: -9px;
    transform: rotate(90deg);
    top: 5px
}
.gg-heart::before {
    width: 11px;
    height: 11px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    left: -2px;
    top: 3px
}

.gg-drive {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 26px;
    height: 10px;
    border: 2px solid;
    border-radius: 2px
}
.gg-drive::after,
.gg-drive::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 10px;
    background: currentColor;
    top: 2px;
    right: 2px
}
.gg-drive::before {
    right: 6px
}


.gg-card-hearts {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 22px;
    border: 2px solid;
    border-radius: 3px
}
.gg-card-hearts::after,
.gg-card-hearts::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 4px;
    height: 6px;
    background: currentColor;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transform: rotate(45deg);
    left: 6px;
    top: 6px
}
.gg-card-hearts::after {
    transform: rotate(-45deg);
    left: 4px
}


.gg-circleci,
.gg-circleci::before {
 display: block;
 box-sizing: border-box;
 border-radius: 18px
}

.gg-circleci {
 position: relative;
 transform: scale(var(--ggs,1));
 width: 24px;
 height: 24px;
 border: 4px solid;
 background:
 linear-gradient( to left,
 currentColor 8px,transparent 0)
 no-repeat -2px center/8px 3px
}

.gg-circleci::before {
 content: "";
 position: absolute;
 width: 10px;
 height: 10px;
 border: 3px solid;
 top: 3px;
 right: 3px
} 


.gg-components {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform:
    rotate(45deg)
    scale(var(--ggs,1));
    width: 14px;
    height: 14px;
    background:
    linear-gradient(
    to left,currentColor 10px,transparent 0)
    no-repeat 0 0/2px 6px,
    linear-gradient(
    to left,currentColor 10px,transparent 0)
    no-repeat 4px 0/2px 6px,
    linear-gradient(
    to left,currentColor 10px,transparent 0)
    no-repeat 8px 0/2px 6px,
    linear-gradient(
    to left,currentColor 10px,transparent 0)
    no-repeat 12px 0/2px 6px,
    linear-gradient(
    to left,currentColor 10px,transparent 0)
    no-repeat 0 8px/2px 6px,
    linear-gradient(
    to left,currentColor 10px,transparent 0)
    no-repeat 4px 8px/2px 6px,
    linear-gradient(
    to left,currentColor 10px,transparent 0)
    no-repeat 8px 8px/2px 6px,
    linear-gradient(
    to left,currentColor 10px,transparent 0)
    no-repeat 12px 8px/2px 6px
   }
   
   .gg-components::after,.gg-components::before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 2px;
    border-top: 6px double;
    border-bottom: 6px double
   }
   
   .gg-components::after {
    right: 0
   } 


   .gg-code {
    transform: scale(var(--ggs,1))
   }
   
   .gg-code,
   .gg-code::after,
   .gg-code::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 8px;
    height: 20px
   }
   
   .gg-code::after,
   .gg-code::before {
    content: "";
    position: absolute;
    height: 8px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(45deg) scaleY(1);
    left: -4px;
    top: 6px
   }
   
   .gg-code::after {
    transform: rotate(-45deg) scaleX(-1);
    left: 4px
   } 


   .gg-asterisk {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 12px;
    height: 12px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    box-shadow: inset 0 0 0 2px
   }
   
   .gg-asterisk::after,
   .gg-asterisk::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 2px;
    height: 12px;
    background: currentColor;
    transform: rotate(55deg)
   }
   
   .gg-asterisk::after {
    transform: rotate(-55deg)
   } 