*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    /*background-image: url("https://w.forfun.com/fetch/40/40727e045830b685e7fa3437d42b74b8.jpeg");*/
    object-fit: cover;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

a{
    text-decoration: none;
    cursor: pointer;
}


.informationAbout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
  
    color: black;
    font-size: 20px;

    padding-right: 30px;
    padding-left: 30px;
}


.iconsAbout{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 25px;

    height: 50px;

    transition: all 2s linear;

    font-family: 'Playfair Display', serif;
}

.helloText{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

    height: 50px;

    font-family: 'Playfair Display', serif;
}

.tools{

    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 25px;

    height: 50px;

    font-family: 'Playfair Display', serif;
}

.iconsStyle{
    color: rgb(0, 0, 0);
  }

  .iconsStyle:hover, .iconsStyle:focus{
    color: rgb(51, 51, 51);
  }


.logoBlock{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;


}

.img{
    width: 500px;
    height: 200px;
}


.imgLogo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.menuMain{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50px;

    background-color: hsl(155, 30%, 80%);
    color: hsl(155, 30%, 5%);
  
  position: relative;
}

.ulList{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.ulList li{
  list-style: none;
}
.ulList a{
  cursor: pointer;
  text-decoration: none;
}

.popUl{
  position: fixed;
  left: 0;
  margin-top: 15px;
  display: none;
  padding-bottom: 30px;
}

.popUl .popMenuElement{
    display: block;

    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;

    font-weight: 500;
}

.popUl .menuElementName{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Playfair Display', serif;
    
    font-weight: 400;
    font-size: 20px;
  
    cursor: pointer;
}

.menuMain .ulList .ulLi{
    padding: 15px;
}

.menuMain .ulList .popUl li b{
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menuMain .ulList .ulLi:hover .popUl{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;

  gap: 13px;
  
  position: fixed;

  width: 100%;
  height: 200px;
  
  padding-left: 300px;
  padding-right: 300px;

  border-bottom: 1px solid black;

  opacity: 1;


  background-color: hsl(155, 30%, 80%);
}









/*.menuMain:hover + .popMenu{
  display: block;
}*/


/*.menuMain{
    display: flex;
    align-items: center;
    justify-content: center;

    position: sticky;

    width: 100%;
    height: 50px;

    background-color: hsl(155, 30%, 80%);
    color: hsl(155, 30%, 5%);

    position:relative;
}

.ulList{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
}


POP UL -------------------------------------------------------*/

/*.popMenu{
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 100%;
    height: 300px;

    padding-left: 350px;
    padding-right: 350px;

    border-bottom: 1px solid black;

    transition: transform 0.5s ease-out;

    background-color: white;
}

#popUl{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    gap: 13px;
}

#popUl .popMenuElement{
    display: block;

    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;

    font-weight: 500;
}

#popUl .menuElementName{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Playfair Display', serif;
    
    font-weight: 400;
    font-size: 20px;
}


.menuMain .ulList a:hover ~ .popMenu{
    display:block;
}

#popMenu.opened{
    transform: translateY(100%);
  }*/



/*MAINNNNNNNN -------------------------------------------------------------------------------------------------------*/



/*Slider -------------------------------------------------------


.photosBlock{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}


.slick-slide{
    width: 100px;
    height: 100px;
}

.slick-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-track{
    display: flex;
    gap: 20px;
}



.photosBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    height: 300px;
}

.photosBlock .slider{
    width: 900px;
    margin: 0 auto;
}

.photosBlock .slider .slick-slide{
    width: 300px;
    height: 300px;
}

.photosBlock .slider .slick-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-track{
    display: flex;
    gap: 20px;
}*/
