html, body, main{ 
    width: 100%; 
 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    gap: 30px; 

    margin-top: 20px;
} 
 
.catalog{ 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 30px; 
 
    max-width: 800px;

    margin-bottom: 80px;
    
    /*width: 900px; 
    height: 300px; 
    background: rgb(255, 232, 235);*/ 
} 
 
 
.one{ 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
 
    width: 350px; 
    height: 400px; 
 
-webkit-box-shadow: 1px 2px 29px -6px rgba(0, 0, 0, 0.2); 
-moz-box-shadow: 1px 2px 29px -6px rgba(0, 0, 0, 0.2); 
box-shadow: 1px 2px 29px -6px rgba(0, 0, 0, 0.2); 
 
 
    border-radius: 15px; 
    gap:10px; 
 
 
    transition: 0.3s linear;  
} 
 
.picture{ 
    width: 230px; 
    height: 230px; 
    object-fit: cover; 
    object-position: center; 
} 
 
.name{ 
    font-size: 18px; 
    font-weight: 600; 
    font-style: italic; 
} 
 
.price{ 
    font-size: 15px; 
    font-weight: 300; 
    color: rgb(141, 141, 141); 
} 
 
.button{ 
    display: flex; 
    align-items: center; 
    justify-content: center; 
 
    background:hsl(155, 30%, 80%); 
    width: 70px; 
    height: 30px; 
    border-radius: 40px; 
    color: rgb(80, 80, 80); 
    font-size: 15px; 
    font-weight: 700; 
 
    transition: 0.2s linear; 

    cursor: pointer;
} 

 
.catalog-name{ 
    font-size: 40px; 
    font-weight: 600; 
    color: rgb(37, 37, 37); 
    font-style: oblique 30deg; 

    margin-top: 30px;
} 
 
.button:hover { 
    text-decoration: underline;  
   } 
 
 
.one:hover { 
    transform: scale(1.06);  
}

.col-md-4{
    padding-right: 100px;
}

.col-md-5, .col-md-7{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
    padding-top: 10px;
}

.priceCol{
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    color: rgb(110, 110, 110);
    font-size: 17px;
    padding-bottom: 10px;
    font-weight: 400;

}


h1{
    font-weight: 600; 
    color: rgb(65, 65, 65); 
}
/*----------------------------------POP CARD-------------*/


.slider{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-slide{
    width: 280px;
    height: 400px;
}

.slick-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
}



/*------------------------------------ICONS------------------------*/


.gg-camera {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid;
    border-radius: 3px;
    width: 18px;
    height: 12px;
    perspective: 24px
}
.gg-camera::after,
.gg-camera::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-camera::before {
    border: 2px solid;
    border-left-color: transparent;
    transform: rotateY(-70deg);
    width: 8px;
    height: 8px;
    right: -7px;
    top: 0
}
.gg-camera::after {
    width: 10px;
    height: 5px;
    border-top: 2px solid;
    border-right: 2px solid;
    top: -5px;
    right: 2px;
    border-top-right-radius: 2px
}


.gg-shape-square {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 3px solid
}


.gg-smartphone-chip {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 6px double;
    border-radius: 3px
}
.gg-smartphone-chip::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 2px;
    left: -3px;
    top: -9px;
    background: currentColor;
    box-shadow:
        4px 0 0,
        8px 0 0,
        0 20px 0,
        4px 20px 0,
        -6px 6px 0,
        14px 6px 0,
        14px 10px 0,
        14px 14px 0,
        -6px 10px 0,
        -6px 14px 0,
        8px 20px 0
}


.gg-arrow-long-right-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 4px solid transparent;
    box-shadow: inset 0 0 0 2px;
    width: 24px;
    height: 6px
}
.gg-arrow-long-right-r::after,
.gg-arrow-long-right-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-arrow-long-right-r::after {
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    right: 0;
    bottom: -2px
}
.gg-arrow-long-right-r::before {
    width: 6px;
    height: 6px;
    border: 2px solid;
    transform: rotate(45deg);
    left: -5px;
    bottom: -2px
}

.gg-battery-empty {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 12px;
    transform: scale(var(--ggs,1));
    border: 2px solid;
    border-radius: 3px;
    margin-left: -3px
}
.gg-battery-empty::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 4px;
    height: 6px;
    right: -4px;
    top: 1px;
    background: currentColor
}


.gg-dice-5 {
    display: block;
    transform: scale(var(--ggs,1));
    position: relative;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 3px;
}
.gg-dice-5::before {
    content: "";
    display: block;
    box-sizing: border-box;
    background: currentColor;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    left:2px;
    top:2px;
    box-shadow:
        0 10px 0,
        10px 0 0,
        10px 10px 0,
        5px 5px 0;
}

.gg-touchpad {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid;
    border-radius: 3px;
    width: 22px;
    height: 18px
}
.gg-touchpad::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 6px;
    bottom: -2px;
    left: 8px;
    background: currentColor;
}
.gg-touchpad::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 2px;
    left: -2px;
    bottom: 3px;
    background: currentColor;
}

.gg-arrows-expand-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 14px;
    margin: 2px;
    box-shadow:
        -6px 6px 0 -4px,
        6px -6px 0 -4px
}
.gg-arrows-expand-right::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 22px;
    top: -4px;
    left: 6px;
    transform: rotate(45deg);
    border-top: 9px solid;
    border-bottom: 9px solid
}


.usb{
    width: 30px;
    height: 20px;
}



.slick-dots li button{
    display: block;
    width: 10px;
    height: 10px;
    background: black;
    cursor: pointer;
    outline: none;
    border-radius: 50%;

}


.col-md-8{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60.66666667%;
}

.col-md-4{
    display: flex;
    flex-direction: column;
    padding-right: 1px;

    font-size: 18px;
    font-weight: 600;
}

.aboutColors{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.colorsOfDevice{
    padding: 0;
}
.colorAvaible{
    font-family: 'Oswald', sans-serif;
    color: rgb(110, 110, 110);
    font-size: 17px;
    width: 100%;
    text-align: center;
}

.colors{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0;
    flex-wrap: wrap;
}

.colors .color{
    list-style-type:  none;
    display: block;
    cursor: pointer;
    background: black;
    width: 11px;
    height: 11px;
    border-radius: 50%;
}


.modal-xl{
    width: 950px;
}

.btn{
    background: hsl(155, 30%, 80%);
}

.btn:hover{
    background: hsl(156, 29%, 75%);
}

.modal-header{
    border-bottom: white;
}

.nameModal{
    /*font-family: 'Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial',sans-serif;*/
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;

    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
}


.modal-content{
    border-radius: 20px;
}

.modal{
    z-index: 999999;
}

.modal-backdrop{
    z-index: 9999;
}
/*.slick-next, .slick-prev{
   
    color: cadetblue;
}

.slick-next:hover, .slick-prev:hover{
    background-color: cornflowerblue;
}*/




/*------------------------Accessories-------------------------*/

.accessories{
    display: flex;
    width: 100%;
    padding-left: 200px;
    flex-direction: column;
    margin-bottom: 20px;
}
.owl-carousel{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 30px;
    position: relative;
}



.oneAccessories{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background-color: rgb(255, 255, 255);

    width: 280px; 
    height: 380px; 
 
-webkit-box-shadow: 1px 2px 29px -6px rgba(0, 0, 0, 0.2); 
-moz-box-shadow: 1px 2px 29px -6px rgba(0, 0, 0, 0.2); 
box-shadow: 1px 2px 29px -6px rgba(0, 0, 0, 0.2); 
 
 
    border-radius: 15px; 
    gap:10px; 
 
 
    transition: 0.3s linear; 

    padding: 20px;
}


.oneAccessories:hover { 
    transform: scale(1.06);  
}


.accessoriesTitle{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 30px;
    font-weight: 400;
    color: black;

    margin-bottom: 20px;
}


.accessorePrice{
    font-size: 15px;
    display: block;
}

.acPic{ 
    width: 170px; 
    height: 210px; 
    object-fit: cover; 
    object-position: center; 
} 

.moreAccessories{
    padding-top: 30px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    transition: .3s ease-in-out;
}

.moreAccessories:hover{
    color: #D5B45B;
    text-decoration: underline;
}

.btn-close {
    color: black;
    --bs-btn-close-focus-shadow: none;
}

.modal-footer{
    background: #f5f5f7;
}


